.right_side_topnav .dropdown-menu[data-bs-popper]{
    left: -1rem !important;
}
.right_part_nav{
    margin-right: 1rem;
    align-items: center;
}
.brand_logo img{
    max-width: 200px;
}
.right_side_topnav_button{
    height: 40px;
    text-wrap: nowrap;
    border: 0.1px solid gray;
    margin-right: 2rem;
    border-radius: 8px;
    background: #0025FF;
}
.right_side_topnav_button:hover{
    background: no-repeat padding-box border-box 50%/cover scroll url(https://static.wixstatic.com/media/c4c214_1af68e7fc0194ea3bc1dd84973a3c111~mv2.png/v1/fill/w_180,h_44,al_c/c4c214_1af68e7fc0194ea3bc1dd84973a3c111~mv2.png?formatterValues=c4c214_1af68e7fc0194ea3bc1dd84973a3c111~mv2.png,180,44,180,44);
}
.right_side_topnav_button a:hover{
    color: white;
}
.right_side_topnav_button a{
    color: white;
}
@media (max-width: 991px) {
    .right_part_nav, .right_side_topnav_button{
        margin: 0;
    }
}